streamlit
langchain
langchain-core
langchain-groq
langchain-huggingface
langchain-community
sentence-transformers
chromadb
numpy
torch
transformers
gtts
pygame
speechrecognition
audio-recorder-streamlit
protobuf==3.20.*




streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
speech-recognition
gtts
pygame
audio-recorder-streamlit
chromadb
pandas
plotly
sentence-transformers
